<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Hemo.Service.ExceptionLogService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://localhost:8888/Hemo.Service/ExceptionLogService/" binding="netTcpBinding" contract="Hemo.IService.IExceptionLogService">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Internet">
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
