<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Hemo.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="hemo" connectionString="Data Source=HEMO_SH_PTYY;Persist Security Info=True;Password=medhemo;User ID=medhemo"
      providerName="System.Data.oracleclient" />
    <!--<add name="hemo" connectionString="Data Source=PTHEMO;Persist Security Info=True;Password=medhemo;User ID=medhemo"
      providerName="System.Data.oracleclient" />-->
    <add name="docare" connectionString="Data Source=HEMO_SH_PTYY;Persist Security Info=True;Password=medhemo;User ID=medhemo"
      providerName="Devart.Data.Oracle" />
    <!--<add name="Hemo.Client.Properties.Settings.ConnectionString"
      connectionString="DATA SOURCE=HEMO95;PASSWORD=medhemojl;PERSIST SECURITY INFO=True;USER ID=medhemojl"
      providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
	<!--5楼7楼血液净化室 5=5楼、7=7楼-->
	<add key="Blood_Hemo_Room" value="5"/>
    <add key="WardCode" value="HL23"/>
    <add key="HospitalName" value="上海市普陀区人民医院"/>
    <!--文书与系统中用到的医院科室名称-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--患者检验报告单打印方式 0为普通报表的打印[单页]  其它为WPF的打印方式-->
    <add key="LabReportPrintType" value="0"/>
    <!--获得最大上传图片大小【单位M】-->
    <add key="MaxUploadPictureLength" value="3"/>
    <!--EMRS程序执行路径-->
    <add key="EMRS_Path" value="C:\EMRS\EMRS\EMRS.exe"/>
    <!--当前电脑所在的透析科室 1-9室-->
    <add key="CurrentOffice" value="86e8515c-70ce-49df-b470-6ad68e384b32"/>
    <!--<add key="CurrentOffice" value="a3cbc523-09e9-4c61-86a1-234c36bfbdcc"/>-->
    <!--<add key="CurrentOffice" value="c295f28b-d5fe-4b4e-bae5-9948eaebec75"/>
        <add key="CurrentOffice" value="f2b34757-f051-4b42-90ab-8508076c7836"/>
        <add key="CurrentOffice" value="a83003a7-8c76-40b4-ba7e-95a2a140c269"/>
        <add key="CurrentOffice" value="5687de1d-916d-4252-b168-de57425c87c8"/>
        <add key="CurrentOffice" value="04b173d6-c333-4dd2-b1ed-0c8bb2739a39"/>
        <add key="CurrentOffice" value="ed0f383f-3f9b-49bf-8154-8d90eb397bb6"/>
        <add key="CurrentOffice" value="a7f894a3-814e-420a-a206-61b070b13238"/>-->

    <add key="QCLoginName" value="fzzy"/>
    <add key="GetUserByName" value="http://localhost:8015/Api/User/GetUserByName"/>
    <add key="GetToken" value="http://localhost:8015/Api/Auth/GetToken"/>
    <add key="SaveHospitalMgrInfo" value="http://localhost:8015/Api/QualityControl/SaveHospitalMgrInfo"/>
    <add key="GetHospitalMgrInfo" value="http://localhost:8015/Api/QualityControl/GetHospitalMgrInfo"/>
    <add key="GetDictTypeList" value="http://localhost:8015/Api/DictData/GetDictTypeList"/>
    <add key="GetDictList" value="http://localhost:8015/Api/DictData/GetDictList"/>
    <add key="GetDictListByType" value="http://localhost:8015/Api/DictData/GetDictListByType"/>
    <add key="SaveMonitorIndex" value="http://localhost:8015/Api/QualityControl/SaveMonitorIndex"/>
    <add key="SavePrimaryData" value="http://localhost:8015/Api/QualityControl/SavePrimaryData"/>
    <add key="SaveHospitalInfection" value="http://localhost:8015/Api/QualityControl/SaveHospitalInfection"/>
    <add key="SaveMachineMgr" value="http://localhost:8015/Api/QualityControl/SaveMachineMgr"/>
    <add key="SaveWorkLoadAccount" value="http://localhost:8015/Api/QualityControl/SaveWorkLoadAccount"/>
    <add key="InsertMedPatients" value="http://localhost:8015/Api/MedPatients/InsertMedPatients"/>
    <add key="InsertMedBaseRecord" value="http://localhost:8015/Api/MedBaseRecord/InsertMedBaseRecord"/>
    <add key="StaffId" value="12345"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Hemo.Client.Properties.Settings>
      <setting name="Hemo_Client_EmrHost_EmrService" serializeAs="String">
        <value>http://localhost:1265/EmrService.asmx</value>
      </setting>
    </Hemo.Client.Properties.Settings>
  </applicationSettings>
</configuration>
