<?xml version="1.0"?>
<configuration>
  <!--授权服务器IP/域名/或主机名-->
  <AuthServer>192.168.1.14</AuthServer>
  <!--非特殊情况下不要修改以下所有配置-->
  <!--授权服务端口-->
  <AuthPort>16505</AuthPort>
  <!--日志记录组建配置-->
  <log4auth>
    <!-- Console部分log输出格式的设定 -->
    <appender name="ConsoleAppender" type="log4auth.Appender.ConsoleAppender">
      <layout type="log4auth.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="RollingLogFileAppender" type="log4auth.Appender.RollingFileAppender">
      <file value="Log\DocareAuth_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.log'" />
      <MaxSizeRollBackups value="10" />
      <staticLogFileName value="false" />
      <layout type="log4auth.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4auth>
</configuration>
