<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="hemo" connectionString="Data Source=orclw;Persist Security Info=True;Password=medhemo;User ID=medhemo"
      providerName="System.Data.globaloracleclient" />
    <add name="docare" connectionString="Data Source=orclw;Persist Security Info=True;Password=medhemo;User ID=medhemo"
      providerName="Devart.Data.Oracle" />
  </connectionStrings>

</configuration>
